@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Inter";
    src: local("Inter") url("./assets/fonts/Inter.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
}

@property --border-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@layer base {
    :root {
        --background: 224 71.4% 4.1%;
        --foreground: 210 20% 98%;
        --primary: 263.4 70% 50.4%;
        --secondary: 215 27.9% 16.9%;
        --secondary-foreground: 217.9 10.6% 64.9%;
    }
}

@layer components {
    @supports (animation-timeline: view()) {
        [data-scroll-timeline] {
            scale: 0.75;
            opacity: 0;
            animation: scroll-fade-in linear forwards;
            animation-timeline: view();
            animation-range: entry;
        }
        @keyframes scroll-fade-in {
            to {
                scale: 1;
                opacity: 1;
            }
        }
    }
    @supports not (animation-timeline: view()) {
        [data-scroll-timeline] {
            @apply animate-fade-in-down;
        }
    }
}
